@import '~antd/dist/antd.dark.css';


.site-layout-background {
    background: rgba(28, 27, 27, 0.769);
}

.site-top-game-list ul {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}